/* GENERAL SETUP */
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    background: linear-gradient(130deg, rgba(235, 217, 181, 1) 0%, rgba(236, 105, 164, 1) 50%, rgba(89, 232, 247, 1) 100%);
}
body {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}
/* HEADER LAYOUT */

/* header {
    margin-bottom: 10px;
} */

header, nav, section, main, article, aside, footer {
    background-color: rgba(255, 255, 255, 0.5);
}